* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    background-image: url(./assets/bg.jpg);
    min-height: 98.6vh;
    border: 8px solid rgba(158, 149, 149, 0.8)
}